.service-locater {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.back-link {
    text-align: left;
    margin: 1rem;
    cursor: pointer;
}

.back-link:hover {
    text-decoration: underline;
}
.service-locater h1 {
    text-align: center;
}

.service-locater form {
    display: flex;
    flex-direction: column;
}

.job-details,
.checklist,
.site-notes,
.photos
.dbyd {
    margin-bottom: 20px;
}

.job-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.dbyd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.dbyd-grid label {
        display: flex;
    flex-direction: column;
}
.job-details-grid label {
    display: flex;
    flex-direction: column;
}

.checklist table {
    width: 100%;
    border-collapse: collapse;
    
}
input{
        cursor: pointer;
}
.checklist th,
.checklist td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.checklist th {
    background-color: #f2f2f2;
}

.buttons {
    display: flex;
    justify-content: center;
}

.service-locater button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.service-locater button:hover {
    background-color: #0056b3;
}

.dropdown {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.dropdown-item {
        cursor: pointer;
}
.dropdown-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.dropdown-item:nth-child(even) {
    background-color: #e9e9e9;
}
.dropdown-item:hover {
    background-color: #f2f2f2;
}
.image-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}
.image-previews {
    display: flex;
    gap: 10px;
}

.image-thumbnail-wrapper {
    position: relative;
    display: inline-block;
}

.image-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-button:hover {
    background: rgba(0, 0, 0, 0.7);
}